In [13]:
import pandas as pd
df = pd.read_csv('heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3.0,145,233.0,1,0.0,150,0.0,2.3,0.0,0,1,1
1,37,1,2.0,130,250.0,0,1.0,187,0.0,3.5,0.0,0,2,1
2,41,0,1.0,130,204.0,0,0.0,172,0.0,1.4,2.0,0,2,1
3,56,1,1.0,120,236.0,0,1.0,178,0.0,0.8,2.0,0,2,1
4,57,0,0.0,120,354.0,0,1.0,163,1.0,0.6,2.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0.0,140,241.0,0,1.0,123,1.0,0.2,1.0,0,3,0
299,45,1,3.0,110,264.0,0,1.0,132,0.0,1.2,NaN,0,3,0
300,68,1,0.0,144,193.0,1,1.0,141,0.0,3.4,1.0,2,3,0
301,57,1,0.0,130,131.0,0,1.0,115,1.0,1.2,1.0,1,3,0
302,57,0,1.0,130,236.0,0,0.0,174,0.0,0.0,1.0,1,2,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        302 non-null    float64
 3   trestbps  303 non-null    int64
 4   chol      301 non-null    float64
 5   fbs       303 non-null    int64
 6   restecg   300 non-null    float64
 7   thalach   303 non-null    int64
 8   exang     302 non-null    float64
 9   oldpeak   301 non-null    float64
 10  slope     302 non-null    float64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(6), int64(8)
memory usage: 33.3 KB

In [15]:
df.isnull().sum()

age         0
sex         0
cp          1
trestbps    0
chol        2
fbs         0
restecg     3
thalach     0
exang       1
oldpeak     2
slope       1
ca          0
thal        0
target      0
dtype: int64

In [16]:
# df.dropna()
df = df.dropna()

In [17]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [18]:
#x:input
x = df.loc[:,"age":"thal"]
print(x)
#y:output
y = df.loc[:,["target"]] 
print(y)

     age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1  3.0       145  233.0    1      0.0      150    0.0      2.3
1     37    1  2.0       130  250.0    0      1.0      187    0.0      3.5
2     41    0  1.0       130  204.0    0      0.0      172    0.0      1.4
3     56    1  1.0       120  236.0    0      1.0      178    0.0      0.8
4     57    0  0.0       120  354.0    0      1.0      163    1.0      0.6
..   ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
297   59    1  0.0       164  176.0    1      0.0       90    0.0      1.0
298   57    0  0.0       140  241.0    0      1.0      123    1.0      0.2
300   68    1  0.0       144  193.0    1      1.0      141    0.0      3.4
301   57    1  0.0       130  131.0    0      1.0      115    1.0      1.2
302   57    0  1.0       130  236.0    0      0.0      174    0.0      0.0

     slope  ca  thal
0      0.0   0     1
1      0.0   0     2
2      2.0   0     2
3      2.0   0     2
4      2.0   0     2
..     ...  ..   ...
297    1.0   2     1
298    1.0   0     3
300    1.0   2     3
301    1.0   1     3
302    1.0   1     2

[293 rows x 13 columns]
     target
0         1
1         1
2         1
3         1
4         1
..      ...
297       0
298       0
300       0
301       0
302       0

[293 rows x 1 columns]

In [19]:
from sklearn.preprocessing import StandardScaler
print("Before:\n", x)
scaler = StandardScaler()
x = scaler.fit_transform(x)
print("After:\n", x)

Before:
      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1  3.0       145  233.0    1      0.0      150    0.0      2.3
1     37    1  2.0       130  250.0    0      1.0      187    0.0      3.5
2     41    0  1.0       130  204.0    0      0.0      172    0.0      1.4
3     56    1  1.0       120  236.0    0      1.0      178    0.0      0.8
4     57    0  0.0       120  354.0    0      1.0      163    1.0      0.6
..   ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
297   59    1  0.0       164  176.0    1      0.0       90    0.0      1.0
298   57    0  0.0       140  241.0    0      1.0      123    1.0      0.2
300   68    1  0.0       144  193.0    1      1.0      141    0.0      3.4
301   57    1  0.0       130  131.0    0      1.0      115    1.0      1.2
302   57    0  1.0       130  236.0    0      0.0      174    0.0      0.0

     slope  ca  thal
0      0.0   0     1
1      0.0   0     2
2      2.0   0     2
3      2.0   0     2
4      2.0   0     2
..     ...  ..   ...
297    1.0   2     1
298    1.0   0     3
300    1.0   2     3
301    1.0   1     3
302    1.0   1     2

[293 rows x 13 columns]
After:
 [[ 0.96008384  0.68190908  1.97865831 ... -2.26047188 -0.71658705
  -2.12994828]
 [-1.90587175  0.68190908  1.00592864 ... -2.26047188 -0.71658705
  -0.50051004]
 [-1.46495551 -1.46647115  0.03319897 ...  0.9703489  -0.71658705
  -0.50051004]
 ...
 [ 1.51122914  0.68190908 -0.93953071 ... -0.64506149  1.23652928
   1.1289282 ]
 [ 0.29870947  0.68190908 -0.93953071 ... -0.64506149  0.25997112
   1.1289282 ]
 [ 0.29870947 -1.46647115  0.03319897 ... -0.64506149  0.25997112
  -0.50051004]]

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=1)
print(x_train)
print(y_train)
print(x_test)
print(y_test)

[[ 0.07825135  0.68190908 -0.93953071 ... -2.26047188 -0.71658705
   1.1289282 ]
 [ 0.29870947  0.68190908 -0.93953071 ... -0.64506149  0.25997112
  -2.12994828]
 [ 0.07825135  0.68190908 -0.93953071 ... -0.64506149  0.25997112
   1.1289282 ]
 ...
 [ 0.51916759  0.68190908  0.03319897 ...  0.9703489  -0.71658705
  -0.50051004]
 [ 0.18848041  0.68190908 -0.93953071 ... -0.64506149  0.25997112
  -2.12994828]
 [-0.69335208  0.68190908  0.03319897 ... -0.64506149 -0.71658705
  -0.50051004]]
     target
221       0
179       0
232       0
35        1
229       0
..      ...
210       0
264       0
77        1
244       0
41        1

[196 rows x 1 columns]
[[ 0.29870947  0.68190908 -0.93953071 ... -0.64506149 -0.71658705
  -2.12994828]
 [ 0.29870947  0.68190908  0.03319897 ...  0.9703489  -0.71658705
   1.1289282 ]
 [ 1.0703129   0.68190908  1.00592864 ...  0.9703489  -0.71658705
  -0.50051004]
 ...
 [-1.79564269  0.68190908  1.00592864 ...  0.9703489   3.18964561
  -0.50051004]
 [ 1.29077102  0.68190908  0.03319897 ... -0.64506149  2.21308745
  -2.12994828]
 [-0.25243584  0.68190908  1.00592864 ...  0.9703489  -0.71658705
   1.1289282 ]]
     target
138       1
277       0
177       0
67        1
115       1
..      ...
137       1
113       1
163       1
247       0
8         1

[97 rows x 1 columns]

In [21]:
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(x_train, y_train.values.ravel())
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.8367346938775511
0.865979381443299